# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/data/patients.json
backend/data/simulation_state.json

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
*.env
